body {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 400px;
  height: 500px;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}